
/* Header */
.ui-header {
    border: none;
    z-index: 10001;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}


.ui-header .container {
    display: flex;
    width: 100%;
    height: 55px;
    color: black;
    background-color: white;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.6);
}

.ui-header.white .container {
    display: flex;
    width: 100%;
    height: 55px;
    color: black;
    background-color: #FFFFFFF0;
    box-shadow: none;
}

.header-icon {
    height: 55px;
    width: 15%;
    display: flex;
}

.icon {
    height: fit-content;
    margin: auto;
    font-size: 16px;
    color: black;
}

.light{
    color: black;
}

.heading {
    height: 55px;
    width: 70%;
    display: flex;
    justify-content: center;
    white-space: nowrap;
    overflow: hidden;
}
