/*prograss bar*/
.container{
  width: 100%;
  position: absolute;
  z-index: 1;
  margin-top: 20px;
  margin-left: 10%;
  margin-right: 10%;
}
.progressbar{
  counter-reset: step;
}
.progressbar li{
  float: left;
  width: 20%;
  position: relative;
  text-align: center;
}
.progressbar li:before{
  content:counter(step);
  counter-increment: step;
  width: 30px;
  height: 30px;
  border: 2px solid #D4D4D4;
  display: block;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  line-height: 27px;
  background: white;
  color: black;
  text-align: center;
  font-weight: bold;
}
.progressbar li:after{
  content: '';
  position: absolute;
  width:100%;
  height: 3px;
  background: #D4D4D4;
  top: 15px;
  left: -50%;
  z-index: -1;
}
.progressbar li.active:before{
 border-color: #4CAF50;
 background: #4CAF50;
 color: black;
}
.progressbar li.active:after{
 background: #4CAF50;
}
.progressbar li.active - li:after{
 background: #4CAF50;
}
.progressbar li.active - li:before{
border-color: #4CAF50;
background: #4CAF50;
color: black;
}
.progressbar li:first-child:after{
 content: none;
}

/*Order Confirmation Page Image*/
.order{
    padding-top: 120px;
    text-align: center;
}

/*Payment Page Image*/
.payment{
    text-align: center;
}

/*Order Review Page Image*/
.order-review{
    padding-top: 100px;
    text-align: center;
}

/*Payment Container*/
.payment-container{
  padding: 5px 20px 0px 20px;
}

span.price {
  float: right;
}

/*Order Review Summary*/
#inline-summary{width:100%;height:auto;background-color:#707070;display:flex;}
.summary,.address{width:50%;height:110px;background-color:#D4D4D4;margin:1px; padding-left:5px;}

/*Checkout Container*/
.checkout-container{
  padding: 5px 10px 10px 10px;
  border: 1px solid #707070;
  border-radius: 3px;
  margin-left: 10px;
  margin-right: 10px;
}

.promo-container{
  padding: 5px 10px 10px 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.payment-button {
  width: 100% !important;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  font-family: "Raleway";
}

/*Place order button*/
.place-order-list-button {
  padding-right: 20px;
  padding-left: 20px;
  border: none;
  background-color: white;
  position: fixed !important;
}

.place-order-button {
  width: 100% !important;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  font-family: "Raleway";
}

/*Payment method page*/
form .row {
    margin: 0;
    overflow: hidden
}

form .row-1 {
    border: 1px solid rgba(0, 0, 0, 0.137);
    padding: 0.5rem;
    outline: none;
    width: 100%;
    min-width: unset;
    border-radius: 5px;
    background-color: white;
    border-color: rgba(221, 228, 236, 0.459);
    margin: 2vh 0;
    overflow: hidden
}

form .row .col-2,
.col-7,
.col-3 {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0 1vh
}

form .row .col-2 {
    padding-right: 0
}

