.splashScreen1,
.splashScreen2 {
  max-width: 100%;
  height: 600;
}

.label1 {
  color: #4CAF50;
  font-weight: bold;
  font-family: "Montserrat";
  font-size: 30px;
  line-height: 20px;
  text-align: center;
}

.label2 {
  font-size: 18px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  font-family: "San francisco";
}

.splash-button {
  width: 50% !important;
  background-color: #4CAF50;
  color: white;
  font-family: "Raleway";
  border: 1px solid #4CAF50;
  border-radius: 25px;
}
a {
  text-decoration: none;
  font-size: 18px;
}
